﻿@using System.Security.Claims

@{
  if (User.Identity.IsAuthenticated)
  {
    <form asp-area="" asp-controller="Auth" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a> @User.Claims.FirstOrDefault( x => x.Type == ClaimTypes.NameIdentifier).Value</a>
        </li>
        <li>
          <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out &nbsp;</button>
        </li>
      </ul>
    </form>
  }
  else
  {
      <ul class="nav navbar-nav navbar-right">
          <li><a asp-area="" asp-controller="Auth" asp-action="Login">Log in</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a asp-area="" asp-controller="Auth" asp-action="Registration">Registration</a></li>
      </ul>
  }
}